@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
.budget-block{
	display :none;
}
.note-block{
	display :none;
}
.location-map{
	 -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.clearfix:after {
  display: table;
  clear: both;
  content: ''; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

.text-center {
  text-align: center !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

@font-face {
  font-family: 'budget-icon';
  src: url("../font/budget-icon2df2.eot?98110720");
  src: url("../font/budget-icon2df2.eot?98110720#iefix") format("embedded-opentype"), url("../font/budget-icon2df2.woff2?98110720") format("woff2"), url("../font/budget-icon2df2.woff?98110720") format("woff"), url("../font/budget-icon2df2.ttf?98110720") format("truetype"), url("../font/budget-icon2df2.svg?98110720#budget-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'budget-icon';
    src: url('../font/budget-icon.svg?98110720#budget-icon') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "budget-icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-social:before {
  content: '\e800'; }

/* '' */
.icon-medical:before {
  content: '\e801'; }

/* '' */
.icon-education:before {
  content: '\e802'; }

/* '' */
.icon-transportation:before {
  content: '\e803'; }

/* '' */
.icon-finance:before {
  content: '\e804'; }

/* '' */
.icon-community:before {
  content: '\e805'; }

/* '' */
.icon-environment:before {
  content: '\e806'; }

/* '' */
.icon-police:before {
  content: '\e807'; }

/* '' */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src: url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 900;
  src: url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format("opentype"); }

html {
  color: #3e362b;
  font-family: 'Roboto Slab', 'PingFang', 'LiHei Pro', 'Microsoft JhengHei', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  line-height: 1; }

h1 {
  font-size: 2.4em;
  font-weight: bold; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1em;
  font-weight: bold; }

a {
  color: inherit; }
  a:hover {
    cursor: pointer; }

.susy-container {
  max-width: 1860px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-linear-gradient(left, transparent 6.45161%, rgba(255, 0, 0, 0.25) 6.45161%, rgba(255, 77, 77, 0.25) 93.54839%, transparent 93.54839%);
  background-image: linear-gradient(to right, transparent 6.45161%, rgba(255, 0, 0, 0.25) 6.45161%, rgba(255, 77, 77, 0.25) 93.54839%, transparent 93.54839%);
  background-size: 8.33333%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top; }
  .susy-container:after {
    content: " ";
    display: block;
    clear: both; }

.-show-sm-up {
  display: none; }
  @media (min-width: 321px) {
    .-show-sm-up {
      display: block; } }

.-hide-sm-up {
  display: block; }
  @media (min-width: 321px) {
    .-hide-sm-up {
      display: none; } }

.-show-md-up {
  display: none; }
  @media (min-width: 768px) {
    .-show-md-up {
      display: block; } }

.-hide-md-up {
  display: block; }
  @media (min-width: 768px) {
    .-hide-md-up {
      display: none; } }

.-show-lg-up {
  display: none; }
  @media (min-width: 992px) {
    .-show-lg-up {
      display: block; } }

.-hide-lg-up {
  display: block; }
  @media (min-width: 992px) {
    .-hide-lg-up {
      display: none; } }

.-show-xl-up {
  display: none; }
  @media (min-width: 1280px) {
    .-show-xl-up {
      display: block; } }

.-hide-xl-up {
  display: block; }
  @media (min-width: 1280px) {
    .-hide-xl-up {
      display: none; } }

.map-background {
  background-color: #6eb0d6; }

.map-block {
  position: relative;
  margin: 0 auto 1em;
  padding: 4.4%;
  width: 100%;
  max-width: 1280px;
  color: white; }
  .map-block > .location-title {
    margin-bottom: 1em; }
    @media (min-width: 992px) {
      .map-block > .location-title {
        margin-bottom: 5em; } }
  .map-block > .location-map {
    margin-bottom: 1em;
    height: 50vw;
    max-height: 500px; }
    @media (min-width: 992px) {
      .map-block > .location-map {
        position: absolute;
        top: 3em;
        right: 3em;
        width: 60%;
        height: 80%;
        max-height: none; } }
  .map-block > .location-infos {
    margin-bottom: 3em; }

.location-title > .name {
  margin-bottom: 5px; }
  @media (min-width: 992px) {
    .location-title > .name {
      margin-bottom: 10px;
      font-size: 1.5em; } }
  .location-title > .name.-en {
    font-size: 2.5em; }
    @media (min-width: 992px) {
      .location-title > .name.-en {
        font-size: 5em; } }

.location-title > .type {
  font-size: 1.5em; }
  @media (min-width: 992px) {
    .location-title > .type {
      font-size: 3.5em; } }

.location-map > .isvg > svg {
  width: 100%;
  height: 100%; }

.location-infos > .location-info {
  margin-bottom: 5px; }
  @media (min-width: 992px) {
    .location-infos > .location-info {
      font-size: 1.5em; } }

.location-info > .name {
  display: inline-block;
  margin-right: 1em;
  padding: 0.5em; }
  @media (min-width: 992px) {
    .location-info > .name {
      margin-bottom: 1em;
      border-radius: 40%;
      background-color: white;
      padding: 1.5em 1.2em;
      color: #6eb0d6; } }

.location-info > .number {
  margin-right: 0.5em; }

.map-area {
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
  opacity: 0; }
  .map-area.-focused, .map-area:focus, .map-area:hover {
    opacity: 1;
    outline: 0;
    cursor: pointer; }

.budget-category {
  margin-bottom: 1em;
  padding: 1em 5% 0; }
  @media (min-width: 992px) {
    .budget-category {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto 1em;
      width: 100%;
      max-width: 1280px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .budget-category > .budget-button {
    margin: 0.5em auto;
    border-radius: 14px;
    background-color: #f2f2f2;
    padding: 0 1em 0 0.5em;
    width: 100%;
    height: 36px;
    line-height: 36px; }
    @media (min-width: 992px) {
      .budget-category > .budget-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0.5em 0;
        border-radius: 45%;
        padding: 0;
        width: 7.5em;
        height: 7.5em;
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .budget-category > .budget-button.active, .budget-category > .budget-button:hover, .budget-category > .budget-button:focus {
      outline: 0;
      background-color: #3e362b;
      color: #f2f2f2; }

.budget-button {
  cursor: pointer; }
  .budget-button > .icon {
    vertical-align: middle;
    line-height: 36px;
    font-size: 2em; }
    @media (min-width: 992px) {
      .budget-button > .icon {
        display: block;
        line-height: 1;
        font-size: 3em; } }
  .budget-button > .title {
    display: inline-block;
    line-height: 36px;
    font-size: 1em; }
    @media (min-width: 992px) {
      .budget-button > .title {
        display: block;
        line-height: 1.5; } }
  .budget-button > .more {
    float: right;
    vertical-align: middle;
    line-height: 36px;
    font-size: 0.5em; }
    @media (min-width: 992px) {
      .budget-button > .more {
        display: block;
        float: none;
        line-height: 1.5; } }

.budget-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
  padding: 1em 5% 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  @media (min-width: 992px) {
    .budget-type {
      #display: block;
      margin: 0 auto 3em;
      max-width: 1280px; } }
  .budget-type > .budget-input {
    display: inline-block;
    margin-bottom: 0.5em;
    width: 45%; }
    @media (min-width: 992px) {
      .budget-type > .budget-input {
        margin-right: 1em;
        width: auto;
        font-size: 1.2em; } }

.budget-input > .input {
  display: none; }

.budget-input > .input + label {
  cursor: pointer; }

.budget-input > .input + label::before {
  display: inline-block;
  margin-right: 5px;
  border: 2px solid #3e362b;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  vertical-align: bottom;
  content: ''; }

.budget-input > .input:checked + label::before {
  background-color: #3e362b; }

.main-chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
  padding: 6em 0 0 2%;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (min-width: 992px) {
    .main-chart {
      margin: 0 auto 2em;
      padding: 3em 5% 0 10.8%;
      width: 100%;
      max-width: 1280px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      -webkit-box-align: center;
          -ms-flex-align: center;
                  -ms-grid-row-align: center;
              align-items: center; } }
  .main-chart > .light-block {
    position: relative; }
    @media (min-width: 992px) {
      .main-chart > .light-block {
        width: 100%;
        max-width: 1280px; } }
  .main-chart > .rank-block {
    position: relative;
    border-right: 1px solid #3e362b;
    text-align: right; }
    @media (min-width: 992px) {
      .main-chart > .rank-block {
        border-top: 1px solid #3e362b;
        border-right: 0;
        width: 100%;
        max-width: 1280px; } }
  @media (min-width: 992px) {
    .main-chart > .name-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      max-width: 1280px;
      -ms-flex-pack: distribute;
          justify-content: space-around; } }
  .main-chart > .bar-chart {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%; }
    @media (min-width: 768px) {
      .main-chart > .bar-chart {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 65%;
                flex: 0 0 65%; } }
    @media (min-width: 992px) {
      .main-chart > .bar-chart {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-bottom: 8px;
        width: 100%;
        max-width: 1280px;
        height: 360px;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        -webkit-box-flex: 1;
            -ms-flex: auto;
                flex: auto; } }

.light-block > .light-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -7.5em;
  height: 7em;
  font-size: 0.8em;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  @media (min-width: 992px) {
    .light-block > .light-title {
      top: 0;
      left: -8.5em;
      width: 8em;
      text-align: right;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

@media (min-width: 992px) {
  .light-block > .light-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; } }

.light-block > .light-content > .light {
  height: 2em;
  text-align: center;
  white-space: nowrap; }
  @media (min-width: 992px) {
    .light-block > .light-content > .light {
      display: inline-block;
      margin-left: 2px;
      padding: 1px 0;
      width: 1em;
      height: auto;
      white-space: normal; } }
  .light-block > .light-content > .light:last-of-type {
    display: none; }

.light-title > .title {
  margin-right: 2px;
  width: 1em; }
  @media (min-width: 992px) {
    .light-title > .title {
      margin-right: 0;
      padding: 2px 0;
      width: 7em; } }

.rank-block > .rank-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -7.5em;
  padding-right: 2px;
  height: 7em;
  text-align: right;
  font-size: 0.8em;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  @media (min-width: 992px) {
    .rank-block > .rank-title {
      display: block;
      top: 0;
      left: -4.5em;
      padding-top: 6px; } }

.rank-block > .rank-content {
  padding-right: 5px; }
  @media (min-width: 992px) {
    .rank-block > .rank-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-top: 5px;
      padding-right: 0;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around; } }
  .rank-block > .rank-content > .rank {
    height: 2em; }
    @media (min-width: 992px) {
      .rank-block > .rank-content > .rank {
        display: inline-block;
        margin-right: 2px;
        margin-bottom: 5px;
        width: 1em;
        height: auto;
        text-align: center; } }

.name-block > .name {
  height: 2em;
  white-space: nowrap; }
  @media (min-width: 992px) {
    .name-block > .name {
      display: inline-block;
      margin-bottom: 5px;
      width: 1em;
      height: auto;
      white-space: normal; } }

.bar-chart > .chart-title {
  position: absolute;
  top: -2em;
  width: 7em;
  text-align: center; }
  @media (min-width: 992px) {
    .bar-chart > .chart-title {
      top: -4em;
      left: -7em;
      text-align: right; } }

.bar-chart > .bar {
  height: 2em;
  overflow: visible;
  white-space: nowrap; }
  @media (min-width: 992px) {
    .bar-chart > .bar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 3vh;
      width: 4.6%;
      height: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .bar-chart > .bar > .body {
    display: inline-block;
    -webkit-transition: width 500ms ease-in, height 500ms ease-in;
    transition: width 500ms ease-in, height 500ms ease-in;
    margin-right: 5px;
    border-radius: 12px;
    background-color: #3e362b;
    height: 1em; }
    @media (min-width: 992px) {
      .bar-chart > .bar > .body {
        margin-right: 0;
        width: 1em; } }
  .bar-chart > .bar > .number {
    display: inline-block;
    height: 2em;
    vertical-align: top; }
    @media (min-width: 992px) {
      .bar-chart > .bar > .number {
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
        width: 0;
        height: 1em;
        overflow: visible;
        white-space: nowrap; } }

.graphical-block {
  margin: 0 auto 2em;
  padding: 0 5%;
  max-width: 1280px; }
  .graphical-block > .graphical-symbols {
    border: 1px solid #3e362b;
    border-radius: 20px;
    padding: 2em 3%; }

.graphical-symbols > .graphical-symbol {
  margin-bottom: 1em;
  margin-left: 2.5em;
  text-indent: -2em; }
  .graphical-symbols > .graphical-symbol:last-of-type {
    margin-bottom: 0; }

.graphical-symbol > .circle {
  margin-right: 1em; }

.circle:before {
  display: inline-block;
  margin-right: 3px;
  border-radius: 50%;
  background-color: currentColor;
  width: 12px;
  height: 12px;
  content: ''; }

.circle.-a {
  color: #2bbe79; }

.circle.-b {
  color: #00c6e4; }

.circle.-c {
  color: #ffc35c; }

.circle.-d {
  color: #ffab9c; }

.note-block {
  margin: 0 auto 5em;
  padding: 0 5% 0 5.1%;
  max-width: 1280px; }

.note-items {
  color: #666666;
  font-size: 0.8em; }
  .note-items > .note {
    margin-bottom: 1em; }
    .note-items > .note > .link {
      width: 100%;
      word-break: break-all; }

.fb-block .fb-container {
  margin: 0 auto;
  padding: 0 5%;
  max-width: 880px;
  text-align: center; }
  .fb-block .fb-container .fb-share-button {
    margin-bottom: 3em; }

/*# sourceMappingURL=style.css.map */
